.Fullcontain{
    background: url(../../assets/back.jpg) no-repeat center;
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: flex;
    
    backdrop-filter: blur(10px);
    height: 100vh;
    
}

.background{
    backdrop-filter: blur(5px);
    transition:all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: rgba(34, 34, 34, 0.6);
}
.container{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 30rem;
    background: #949696;
    border-radius: 6px;
    padding-bottom: 30px;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    
}

.text{
    color: #2e2e2e;
    font-size: 22px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #2e2e2e;
    border-radius: 9px;
}

.inputs{
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 17px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #fff;
    font-size: 18px;
}

.forgot-password span{
    color: #2e2e2e;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 20px;
    margin: 50px auto;
    height:90%;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:#fff;
    background: #2e2e2e;
    border-radius: 50px;
    font-size: 19px;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}