.Player {
  width: 100%;
  padding: 10px;
  display: flex;
}

.Attribut {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Attribut .up,
.Attribut .down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.right {
  padding-left: 16rem;
}
.Attribut .up .left,
.Attribut .up .main,
.Attribut .up .right {
  color: #595959;

  cursor: pointer;
  display: flex;
  align-items: center;
}
.Attribut .up .left i,
.Attribut .up .main i,
.Attribut .up .right i {
  margin: 0 15px;
}
.Attribut .up .main i {
  font-size: 25px;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 14rem;
}
.love i {
  color: #eaf4e8 !important;
  filter: drop-shadow(0px 0px 4px);
}
.Attribut .up .main .back i,
.Attribut .up .main .forward i {
  color: #9a9a9a !important;
}
.Attribut .up .main .playbtn {
  width: 43px;
  height: 43px;
  min-width: 42px;
  border-radius: 100%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.Attribut .down {
  margin-top: 20px;
  padding: 0px 15px;
}

.Attribut .down .progresBar {
  width: 70%;
  position: relative;
  height: 5px;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.Attribut .down .progresBar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #848484;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: all 0.3s ease;
}
.Attribut .down .progresBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.Attribut .down .progresBar::-moz-range-track {
  width: 70%;
  position: relative;
  height: 5px;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.Attribut .down .progresBar::-moz-range-progress {
  background: #848484;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: all 0.3s ease;
}
.Attribut .down .progresBar::-moz-range-thumb {

  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.Attribut .down .Time,
.Attribut .down .duration {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 600;
}
