.App {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px);
    
    height: 100vh;
    
   
  }
  .background {
    
    background: url(./assets/back.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex:1 1 0%;
    flex-direction: column;
    
    
  }
  .tin {
    display: flex;
    display: none;
    flex-direction: column;
    width: 240px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: url(./assets/back.jpg) no-repeat center;
    background-size: cover;
  }
  